<div class='heading'>
  <h2>
    <a href='#!/{{id}}' class="toggleContent" data-id="{{id}}">{{name}} {{#description}} : {{/description}}{{{description}}}</a>
  </h2>
  <ul class='options'>
    <li>
      <a href='#!/{{id}}' id='contentTogger_{{id}}' class="toggleContent" data-id="{{id}}">Show/Hide</a>
    </li>
    <li>
      <a href='#' class="collapseResource" data-id="{{id}}">
        List Operations
      </a>
    </li>
    <li>
      <a href='#' class="expandResource" data-id={{id}}>
        Expand Operations
      </a>
    </li>
    <li>
      <a href='{{url}}'>Raw</a>
    </li>
  </ul>
</div>
<div class='resourceContent' style='display:none'>
  <div class='basePaths' style='display:none'>
    <h4>Base Paths</h4>
    <table class="fullwidth">
      <thead>
        <tr>
          <th style="width: 20%">Environment</th>
          <th style="width: 80%">Base Path</th>
        </tr>
      </thead>
      <tbody class="basePath-Values" id='{{id}}_basePath_container'>

      </tbody>
    </table>
  </div>
  <ul class='endpoints' id='{{id}}_endpoint_list'>

  </ul>
</div>
